[project]
	description = A collection of compass' stylesheet for bower dependencies and libsass
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alexey (alexeykomov)
[access "refs/for/refs/*"]
	read = group user/Alexey (alexeykomov)
	push = group user/Alexey (alexeykomov)
	label-Code-Review = -2..+2 group user/Alexey (alexeykomov)
	label-Verified = -1..+1 group user/Alexey (alexeykomov)
	rebase = group user/Alexey (alexeykomov)
	removeReviewer = group user/Alexey (alexeykomov)
	submit = group user/Alexey (alexeykomov)
[access "refs/heads/*"]
	read = group user/Alexey (alexeykomov)
	create = group user/Alexey (alexeykomov)
	push = +force group user/Alexey (alexeykomov)
	pushMerge = group user/Alexey (alexeykomov)
[access "refs/tags/*"]
	push = group user/Alexey (alexeykomov)
	push = +force group user/Alexey (alexeykomov)
